$headerHeight: 200px;
$smallHeaderHeight: 100px;

#header {
  position: fixed;
  top: 0;
  width: 100%;
  height: $headerHeight;
  background-color: #333;
  color: white;
  text-align: center;
  line-height: 50px;

  video {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

#content {
  margin-top: $headerHeight;
}
#header img {
  height: 30px;
  vertical-align: middle;
}

.banner {
  width: 100%;
  margin-top: 50px;
}

.pizza {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0;
}

.pizza img {
  width: 100%;
  max-width: 200px;
  margin-bottom: 20px;
}

form input, form textarea {
  display: block;
  width: 100%;
  margin-bottom: 10px;
}

#footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 20px 0;
  position: relative;
  bottom: 0;
  width: 100%;
}

@media only screen and (max-width: 600px) {
  #header{
    height: $smallHeaderHeight;
  }
  #content{
    margin-top: $smallHeaderHeight;
  }
}

@media (min-width: 768px) {
  .pizza {
    flex-direction: row;

    img {
      margin-right: 20px;
      margin-bottom: 0;
    }
  }

  form input, form textarea {
    max-width: 500px;
    margin: 0 auto;
  }
}
.pizza-card img {
  width: 100%;
  max-width: 300px;
  height: auto;
}

.pizza-info {
  display: flex;
  flex-direction: column;
}

.price-quantity {
  display: flex;
  justify-content: center;
  align-items: center;
}
